
.container{
 display: grid;
 grid-template-columns: auto;
 grid-template-rows: 30px 30px 30px 30px 30px 30px 30px;
 border:2px solid back;
 width:300px;
 background-color: rgb(27, 8, 49);
 margin-left:500px;
 height: 600px;;
 margin-top: 40px;;


}
.form{
     margin-top:60px;
}
.inpt{
    padding-left:10px;
    background-color: rgb(27, 8, 49);
    margin:10px;
   padding-right:40px;
}
.btn{
  padding-right:70px;
  padding-left:70px;
  background-color: crimson;
  margin-top:20px;

}
h1{
  color: white;
}
.color{
  color: white;
}
 